<a href="https://colab.research.google.com/github/SushanthKumble/DATASCIENCE/blob/main/irisexam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

READING THE IRIS DATASET USING PANDAS USING READ_CSV METHOD

In [5]:
import pandas as pd
import numpy as np
iris=pd.read_csv("/content/drive/MyDrive/DATA SCIENCE LAB/iris2.csv")
df=pd.DataFrame(iris)
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

DETERMINING THE NUMBER OF ROWS AND COLUMNS UISNG THE SHAPE FUNCTION USE 0 FOR ROWS AND 1 FOR COLUMNS

In [6]:
row,columns=df.shape
print("the number of row is:{},number of columns is:{}".format(row,columns))

the number of row is:150,number of columns is:5

FINDING THE MEAN OF ALL COLUMNS)(NUMERICAL FEILDS IN THE DATA SET

In [8]:
df[['sepal.length',"sepal.width","petal.length","petal.width"]].mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

FIND THE STANDARD DEVIATION OF ALL THE COLUMS IN DATASE

In [9]:
df[['sepal.length',"sepal.width","petal.length","petal.width"]].std()

sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.762238
dtype: float64

In [11]:
mean=df['petal.length'].mean()
print(mean)
fifty=mean*(50/100)
avg=fifty+mean
print(avg)

3.7580000000000005
5.6370000000000005

NOW LET US LIST ALL THE PETAL LENGTH THAT IS GREATER THAN THE AVG VALUE

In [20]:
print(df[df['petal.length']>avg])

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
102           7.1          3.0           5.9          2.1  Virginica
104           6.5          3.0           5.8          2.2  Virginica
105           7.6          3.0           6.6          2.1  Virginica
107           7.3          2.9           6.3          1.8  Virginica
108           6.7          2.5           5.8          1.8  Virginica
109           7.2          3.6           6.1          2.5  Virginica
117           7.7          3.8           6.7          2.2  Virginica
118           7.7          2.6           6.9          2.3  Virginica
120           6.9          3.2           5.7          2.3  Virginica
122           7.7          2.8           6.7          2.0  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
135           7.7          3.0           6.1          2.3  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica