<a href="https://colab.research.google.com/github/SushanthKumble/DATASCIENCE/blob/main/iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**READING AND DISPLAYING IRIS DATASET:**

In [ ]:
import pandas as pd
import numpy as np
irisdetail=pd.read_csv("/content/drive/MyDrive/iris2.csv")
irisdetail

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

**DETERMINING THE NUMBER OF ROWS AND COLUMNS**

In [ ]:
irisdetail.shape
print("rows are",irisdetail.shape[0])
print("colums are",irisdetail.shape[1])

rows are 150
colums are 5

**FINDING THE AVG OF COLUMNS**

In [ ]:
avgplength=irisdetail['petal.length'].mean()
print("aveg of pental length",avgplength)

avgpwidth=irisdetail['petal.width'].mean()
print("aveg of pental width",avgpwidth)

aveg of pental length 3.7580000000000005
aveg of pental width 1.1993333333333336

**COMPUTE THE STANDARD DEVIATION AND OTHERS FOR ALL COLUMNS OF EACH IRIS SPECIES**

In [ ]:
from pandas.api.types import is_numeric_dtype

for col in irisdetail.columns:
    if is_numeric_dtype(irisdetail[col]):
        print('%s:' % (col))
        print('\t Mean = %.2f' % irisdetail[col].mean())
        print('\t Standard deviation = %.2f' % irisdetail[col].std())
        print('\t Minimum = %.2f' % irisdetail[col].min())
        print('\t Maximum = %.2f' % irisdetail[col].max())

sepal.length:
	 Mean = 5.84
	 Standard deviation = 0.83
	 Minimum = 4.30
	 Maximum = 7.90
sepal.width:
	 Mean = 3.06
	 Standard deviation = 0.44
	 Minimum = 2.00
	 Maximum = 4.40
petal.length:
	 Mean = 3.76
	 Standard deviation = 1.77
	 Minimum = 1.00
	 Maximum = 6.90
petal.width:
	 Mean = 1.20
	 Standard deviation = 0.76
	 Minimum = 0.10
	 Maximum = 2.50

In [ ]:
for col in irisdetail.columns:
    if is_numeric_dtype(irisdetail[col]):
        Mean = irisdetail[col].mean()
print(Mean)
# Calculate the threshold for petal length

# Extract rows where petal length is 50% longer than the average petal length
filtered_rows = irisdetail[irisdetail["petal.length"] > Mean]

print(filtered_rows)

1.1993333333333336
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[148 rows x 5 columns]